/* FONTS & GLOBAL SETTINGS*/

:root {
  --blue-1: #e9f5fe;
  --blue-2: #c7e5fd;
  --blue-3: #aedcff;
  --blue-4: #7fc4fd;
  --blue-5: #2699fb;
}

.blue-1 {
  color: var(--blue-1);
}
.blue-2 {
  color: var(--blue-2);
}
.blue-3 {
  color: var(--blue-3);
}
.blue-4 {
  color: var(--blue-4);
}
.blue-5 {
  color: var(--blue-5);
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

/* FONTS & GLOBAL SETTINGS */

/* HEADER styles mobiel */

.navbar-full-height {
  height: 90vh;
  background-color: var(--blue-5);
}

.under-line {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

/* HEADER styles mobiel */
